<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title><%= htmlWebpackPlugin.options.title %></title>

    <% for (var css in htmlWebpackPlugin.files.css) { %>
      <link href="<%= htmlWebpackPlugin.files.css[css] %>" rel="stylesheet">
    <% } %>

    <!-- CSS dependencies -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap-theme.min.css">

    <link rel="canonical" href="http://localhost/" />

    <!-- Favicons -->
    <link rel="shortcut icon" href="/assets/favicon.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="" />

    <base href="/">
  </head>
  <body>
    <div id="mount"></div>
    <script src="https://unpkg.com/react@15.4.2/dist/react.min.js"></script>
    <script src="https://unpkg.com/react-dom@15.4.2/dist/react-dom.min.js"></script>
    <script src="https://unpkg.com/react-router/umd/ReactRouter.min.js"></script>
    <!-- <script src="https://unpkg.com/graphql@0.9.1/graphql.js"></script> -->
    <!-- <script src="https://unpkg.com/graphql-tag@1.2.4"></script> -->
    <!-- <script src="https://unpkg.com/apollo-client@0.8.7/apollo.umd.js"></script> -->
    <!-- <script src="https://unpkg.com/react-apollo@0.11.1/lib/browser.js"></script> -->
    <script src="https://unpkg.com/react-bootstrap@0.30.7/dist/react-bootstrap.min.js"></script>
  </body>
</html>
